body {
  background-color: white;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  font-size: 32px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  color: #cc0000;
}
p {
  font-size: 50px
}
table, th, td {
    border: 1px solid grey;
}
table {
    border-spacing: 0px;
}
th, td {
    padding: 20\px;
}

.container {
  margin: 50px auto 50px auto;
}

.home{
  
}
.enterData {
  margin-top: 250px;
  display:none;
}
.patientInfo {
  display: none;
}
.patientData {
  margin: 50px;
  text-align: left;
  display: none;
}


.new-patient {
  line-height: .1;
  width: 500px;
  height: 300px;
  padding: 10px;
  margin: 50px;
  font-size: 64px;
  font-weight: 700;
  background-color: white;
  border: 8px solid #6aa84f;
  border-radius: 45px;
  cursor: pointer;
  color: #6aa84f;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new-patient:hover {
  background-color: #6aa84f;
  color: white;
}

.current-patients {
  line-height: .1;
  width: 500px;
  height: 300px;
  padding: 10px;
  margin: 50px;
  font-size: 64px;
  font-weight: 700;
  background-color: white;
  border: 8px solid #6d9eeb;
  border-radius: 45px;
  cursor: pointer;
  color: #6d9eeb;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.current-patients:hover {
  background-color: #6d9eeb;
  color: white;
}



.inputNames {
  margin: 10px;
  padding: 15px;
  width: 350px;
  font-size: 46px;
  background-color: white;
  border: 3px solid;
  border-radius: 25px;
}

.nextButton {
  margin: 10px;
  font-size: 50px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.status-button {
  padding: 10px;
  margin: 15px;
  width: 100px;
  height: 100px;
  font-size: 70px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: white;
}
.enter-button {
  background-color: white;
  color: black;
  padding: 10px;
  margin: 15px;
  width: 100px;
  height: 100px;
  font-size: 70px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 0px;
}
.green-button {
  background-color: #93c47d;
}
.yellow-button {
  background-color: #ffd966;
}
.orange-button {
  background-color: #f6b26b;
}
.pink-button {
  background-color: #e06666;
}
.red-button {
  background-color: #cc4125;
}
.patient-data {
  margin: 50px;
  text-align: left;
}